body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(237, 237, 238); /* Fondo gris claro */
}
.card {
    width: 100%;
    max-width: 400px; /* Ancho máximo de la tarjeta */
    border-radius:15px;
}
.container{display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
